<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><a href="/skills/">🏡 </a>My Skills:</h1>
    
    <form action="/skills" method="POST">
        <input type="text" name="skillName" placeholder="Insert your Skill here">
        <button>Add Skill abc</button>        
    </form>



<ul>
    <% skills.forEach(function(s){ %>

        <li>
            <a href="/skills/<%= s.skilliD %>"> <%= s.skillName %>   </a>
            <form action="/skills/<%= s.skilliD %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
        </li>

   <% }); %>
</ul>
    
</body>
</html>